.html5pdf_control
{
    border: 1px solid var(--secondary);
    width: 100%;
    display:block;
    height: 50px;
}
.html5pdf_control i, .html5pdf_control > span.html5pdf_pager
{
    float:left;
    width: 50px;
}
.html5pdf_control i {
    padding: 15px;
    font-size:large;
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    
}
.html5pdf_control > span.html5pdf_pager  {
    margin: 15px;
    margin-top:13px;
    display: inline-block;
    font-size:15px;
}
.html5pdf_control .html5pdf_spacer
{
    width:1px;
    margin: 15px;
    float:left;
    border:none;
}


.html5pdf_control i { cursor: pointer; }
 


.html5pdf_pdfscrollcontainer
{   /*public license http://www.ajaxload.info/*/
    /*background-image: url([[pix:local_pdfjsrenderer|assets/images/ajax-loader.gif]]);*/
    background-image: url([[pix:i/loading]]);
    background-position: 48% center;
    background-repeat: no-repeat;
    overflow: scroll;
    width:100%;
}
canvas.pdf_canvas
{

    /*wird per js auf sichtbar gesetzt, sobald geladen
    display:none;*/
}
canvas.pdf_canvas_loaded
{
    border:1px solid black;
}

/*
* unter field settings kann man eine eigene class setzen. 
*    Falls nicht getan, hier ein Standardwrapper mit Breite 700px
*/
.html5pdf_standard_wrapper_class
{
    width: 700px;
}

.html5pdf_small_wrapper_class
{
    width: 420px;
}


.html5pdf_fullsize_wrapper_class
{
    width: 100%;
}